/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
/* Urdu text styling */
.font-noto {
  font-family: 'Noto Nastaliq Urdu', serif;
  direction: rtl;   /* Right-to-left alignment */
  text-align: right;
}
/* stylelint-enable at-rule-no-unknown */